<p-table #ct styleClass="" [value]="device" [rows]="10" [globalFilterFields]="['name']" [rowHover]="true"
  [paginator]="true" [showCurrentPageReport]="true" dataKey="id"
  paginatorPosition="top"
  [resizableColumns]="true" class="layout-news-active" [resizableColumns]="true">



  <ng-template pTemplate="header">
    <tr>

      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <ng-container>
        <th class="layout-news-active" pResizableColumn>
          Device
        </th>
      </ng-container>
      <ng-container>
        <th class="layout-news-active" pResizableColumn >
          Profile
        </th>
      </ng-container>
      <ng-container>
        <th class="layout-news-active" pResizableColumn >
          Configuration
        </th>
      </ng-container>
      <ng-container>
        <th class="layout-news-active" pResizableColumn >
          Interface
        </th>
      </ng-container>
      <ng-container>
        <th class="layout-news-active" pResizableColumn >
          Refresh
        </th>
      </ng-container>
      <ng-container>
        <th class="layout-news-active" pResizableColumn >
          Action
        </th>
      </ng-container>

      <!-- <th pSortableColumn="name">Customer Name <p-sortIcon field="customername"></p-sortIcon>
      </th>

      <th pSortableColumn="country">Country <p-sortIcon field="country"></p-sortIcon>
      </th>

      <th pSortableColumn="state">State<p-sortIcon field="state"></p-sortIcon>
      </th>

      <th pSortableColumn="city">City<p-sortIcon field="city"></p-sortIcon>
      </th>

      <th pSortableColumn="group">ISE Software <p-sortIcon field="ise"></p-sortIcon>
      </th>
      <th pSortableColumn="group">Action <p-sortIcon field="group"></p-sortIcon>
      </th> -->

    </tr>
  </ng-template>

  <ng-template pTemplate="paginatorleft" let-device>
    <div>
        Showing {{(device.page * device.rows) + 1}} to {{device.rows *
        (device.page + 1)}} of {{device.totalRecords}} entries

    </div>

    <!-- Showing {{(state.page  * state.rows) + 1}} to {{state.rows * (state.page + 1)}} of {{state.totalRecords}} entries -->

</ng-template>

<ng-template pTemplate="paginatorright" let-device>
  <!-- <div>
      Showing {{(device.page * device.rows) + 1}} to {{device.rows *
      (device.page + 1)}} of {{device.totalRecords}} entriesaaaaaaaaaaaaaaa

  </div> -->

  <!-- Showing {{(state.page  * state.rows) + 1}} to {{state.rows * (state.page + 1)}} of {{state.totalRecords}} entries -->

</ng-template>


  <ng-template pTemplate="body" let-entity>
    <tr>
      <td>
        <p-tableCheckbox [value]="entity"></p-tableCheckbox>
      </td>

      <td>
        <div class="devSearchItemValue"><i class="pi pi-cog mr-1" style="cursor: pointer;"></i>
          <a><b>{{entity.devID}}</b></a>
        </div>
        <div class="devSearchItemValue">Product : <a>{{entity.prodID}}</a>
        </div>
        <div class="devSearchItemValue">Location :
          <a>{{entity.location}}</a>
        </div>
      </td>

      <td>
        <div class="devSearchItemValue">Profile Name: <a>{{entity.pName}}</a>
        </div>
        <div class="devSearchItemValue">OS Type: <a>{{entity.osType}}</a></div>
        <div class="devSearchItemValue">OS Version: <a>{{entity.osVersion}}</a>
        </div>

      </td>

      <td>
        <div class="devSearchItemValue">Config Status:
          <span style="color: #FBC02D;">{{entity.cStatus}}</span>
        </div>
        <div class="devSearchItemValue">Template Name: <a><u>{{entity.tName}}</u></a>
        </div>

      </td>

      <td>
        <div class="devSearchItemValue">Selected Interface:
          <a><u>{{entity.selInterface}}</u></a>
        </div>
        <div class="devSearchItemValue">Interface Assignment:
          <a><u>{{entity.intAssign}}</u></a>
        </div>

      </td>

      <td>
        <div class="devSearchItemValue"><i class="pi pi-exclamation-triangle" style="color: #FBC02D;"></i>&nbsp; Last
          Refreshed: <a>{{entity.lastRefresh}}</a></div>

        <div class="devSearchItemValue">
          <div
            style="background-color: #FBC02D;color: white;display: inline;margin-right: 6px;border-radius: 4px;padding: 2px;font-size: 10px;">
            EA</div>Refresh Logs:
          {{entity.refreshLogs}}<i class="pi pi-download" style="cursor: pointer;"></i>
        </div>

      </td>

      <td>
        <div id="historyBtn">
          <button pButton pRipple type="button" label="History" class="p-button-outlined p-button-secondary"></button>
        </div>
      </td>

      <!-- <td>
        <button pButton pRipple icon="pi pi-pencil" class="p-button-text p-button-success mr-2"
          (click)="navigateEditCustomer(entity)"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-text p-button-danger"></button>
      </td> -->

    </tr>

  </ng-template>

</p-table>