<p-table #ct styleClass="" [value]="commit" [rows]="10"
  [globalFilterFields]="['name']" [rowHover]="true" [paginator]="true" [showCurrentPageReport]="true" dataKey="id"
 paginatorPosition="top"
  [resizableColumns]="true" [reorderableColumns]="true" class="layout-news-active" [resizableColumns]="true">


  <ng-template pTemplate="paginatorleft" let-commit>
    <div>
        Showing {{(commit.page * commit.rows) + 1}} to {{commit.rows *
        (commit.page + 1)}} of {{commit.totalRecords}} entries

    </div>

    <!-- Showing {{(state.page  * state.rows) + 1}} to {{state.rows * (state.page + 1)}} of {{state.totalRecords}} entries -->

</ng-template>

<ng-template pTemplate="paginatorright" let-device>
  <!-- <div>
      Showing {{(device.page * device.rows) + 1}} to {{device.rows *
      (device.page + 1)}} of {{device.totalRecords}} entriesaaaaaaaaaaaaaaa

  </div> -->

  <!-- Showing {{(state.page  * state.rows) + 1}} to {{state.rows * (state.page + 1)}} of {{state.totalRecords}} entries -->

</ng-template>

  <ng-template pTemplate="header">
    <tr>

      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>

      <th pSortableColumn="dName" class="layout-news-active" pResizableColumn >Device
      </th>

      <th pSortableColumn="pName" class="layout-news-active" pResizableColumn >Profile
      </th>

      <th pSortableColumn="owner" class="layout-news-active" pResizableColumn >Owner
      </th>

    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-entity>
    <tr>
      <td>
        <p-tableCheckbox [value]="entity"></p-tableCheckbox>
      </td>
      <td>
        <div class="devSearchItemValue"><i class="pi pi-server" style="cursor: pointer;"></i>
          &nbsp; <a><b>{{entity.dName}}</b></a></div>
        <div class="devSearchItemValue">{{entity.dSpec}}
        </div>
        <div class="devSearchItemValue">OS Version :
          <a>{{entity.osVersion}}</a>
        </div>


      </td>
      <td>
        <div class="devSearchItemValue">Profile Name: {{entity.pName}}
        </div>
        <div class="devSearchItemValue">Product Type: {{entity.pType}}</div>

      </td>

      <td>
        <div class="devSearchItemValue">Owner: {{entity.owner}}
        </div>

        <div class="devSearchItemValue">Location:
          {{entity.location}}</div>
          
        </td>

    </tr>

  </ng-template>

</p-table>

