<div class="grid singleDeviceContainer">
    <div class="col-3 singleDev deviceListBar md:col-3">
        <p-card class="grid m-0 deviceListBarStyle">

            <app-single-device-list-column></app-single-device-list-column>

        </p-card>
    </div>

    <div class="col-9 singleDev deviceDescriptionBar">

        <p-card>
            <div class="flex deviceDescriptionTab">
                <div class="deviceDescItem col-2"><i class="pi pi-bars"></i>
                    <span id="deviceName">&nbsp;&nbsp;Device Name</span><br>
                    <span id="deviceModelNumber">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Device Model</span>

                </div>
                <div class="deviceDescItem col-4">
                    <span id="assesmentStatus">Assessment Status :
                        <span id="assessmentValue">Assessment Value</span>
                    </span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="osInAssessment">OS :
                        <span id="osInAssessmentValue">14.4.(5)E4</span>
                    </span><br>
                    <a id="allLocation">All Locations</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="owner">Owner : <span id="ownerValue">Admin</span></span>
                </div>
                <div class="deviceDescItem col-4">
                    <span id="lastRefreshed">Last Refresh :
                        <span id="lastRefreshedValue"> last Refreshed Value</span>
                    </span><br>
                    <p-checkbox name="chkEndPointBox" value=""></p-checkbox>&nbsp;&nbsp;<span id="endPointAnalysys">End
                        Point
                        Analysis</span>
                </div>

                <div class="deviceDescItem col-2">
                    <p-splitButton label="Configuration Menu" (onClick)="config('info')" [model]="items">
                    </p-splitButton>
                </div>

            </div>
        </p-card>

        <p-divider></p-divider>

        <p-card>
            <ng-template pTemplate="header">
                <p-toolbar>
                    <div class="p-toolbar-group-left p-card-title">
                        Global Configuration
                    </div>
                </p-toolbar>
            </ng-template>
            <ng-template pTemplate="body">

                <p-checkbox name="gConfigCheckBox" value=""></p-checkbox>

                <span id="confStatus"> Config Status :
                    <span id="confStatusValue">Assigned</span></span>

                <span id="serviceTamplate" class="ml-4">Service Template : <span id="serviceTamplateValue"><a
                            class="servTempVal">asd:(G)</a></span></span>

            </ng-template>
        </p-card>

        <p-divider></p-divider>
        <p-card>


            <ng-template pTemplate="header">
                <p-toolbar>
                    <div class="p-toolbar-group-left p-card-title">
                        Interface Configuration
                    </div>
                    <button pButton type="button" label="" class="p-button assignBtn">Assignment Info</button>
                </p-toolbar>
            </ng-template>

            <ng-template pTemplate="body">
                <div class="flex interfaceConfigBox">

                    <div class="flex col searchDeviceTabs">

                        <div class="searchDevTabs" id="searchDevTabs_btn">
                            <!-- <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input type="deviceSearch" id="searchDeviceTabs_btn" pInputText placeholder="Search">
                            </span> -->
                            <!-- <button class="pi-button-text" icon="pi pi-search" pButton type="button" label="Search"></button> -->
                            <button pButton pRipple label="Search" icon="pi pi-search" class="p-button-text"
                                (click)="searchSingleDeviceTable()" ></button>
                        </div>

                        <div class="searchDevTabs">
                            <span class="selInterfacesLink"><a>Select All Interfaces</a></span>
                        </div>

                        <div class="searchDevTabs">
                            <span class="totalSelInterfaces">Total Selected Interfaces : <span
                                    class="seletedInterfaces"> 0 out of 10 on the device </span> </span>
                        </div>



                    </div>



                    <app-singleDevicePushTable></app-singleDevicePushTable>

                    <div class="footerBtnList">
                        <button class="footerBtn" pButton type="button" label="Push Configuration"></button>
                        <button class="footerBtn" pButton type="button" label="Manual Update"></button>
                        <button class="footerBtn" pButton type="button" label="Mark Manually Update"></button>
                        <button class="footerBtn" pButton type="button" label="Validate"></button>
                        <button class="footerBtn" pButton type="button" label="Commit"></button>

                    </div>

                </div>
            </ng-template>

        </p-card>

        <p-dialog header="Search Device" [(visible)]="displayPositionSTable" [position]="positionSTable" [modal]="true"
            [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="true" [resizable]="false">

            <p-tabView>

                <p-tabPanel header="Network Device Selection">
                    <p-card>


                        <div class="grid">
                            <!-- Name -->
                            <div class="col-12">
                                <div class="input-wrapper">
                                    <!-- <div class="field col-12"> -->
                                    <label class="" htmlFor="devicename">Name</label>
                                    <div class="flex">

                                        <select class="" type="text" style="width: 35%;">
                                            <option>Equals</option>
                                        </select>
                                        <div class="inputText ml-2" style="width: 100%;"><input type="text" pInputText>
                                        </div>

                                    </div>
                                    <!-- </div> -->
                                </div>
                            </div>

                            <!-- IP/HostName  -->
                            <div class="col-12">
                                <div class="input-wrapper">
                                    <!-- <div class="field col-12"> -->
                                    <label class="" htmlFor="devicename">IP/HostName</label>
                                    <div class="flex">

                                        <select class="" type="text" style="width: 35%;">
                                            <option>Equals</option>
                                        </select>
                                        <div class="inputText ml-2" style="width: 100%;"><input type="text" pInputText>
                                        </div>

                                    </div>
                                    <!-- </div> -->
                                </div>
                            </div>

                            <!-- Description  -->
                            <div class="col-12">
                                <div class="input-wrapper">
                                    <!-- <div class="field col-12"> -->
                                    <label class="" htmlFor="devicename">Description</label>
                                    <div class="flex">

                                        <select class="" type="text" style="width: 35%;">
                                            <option>Equals</option>
                                        </select>
                                        <div class="inputText ml-2" style="width: 100%;"><input type="text" pInputText>
                                        </div>

                                    </div>
                                    <!-- </div> -->
                                </div>
                            </div>

                            <!-- Mode  -->
                            <div class="col-12">
                                <div class="input-wrapper">
                                    <!-- <div class="field col-12"> -->
                                    <label class="" htmlFor="devicename">Mode</label>
                                    <div class="flex">

                                        <select class="" type="text" style="width: 35%;">
                                            <option>Equals</option>
                                        </select>
                                        <select class="ml-2" type="text" style="width: 35%;">
                                            <option>Select</option>
                                        </select>

                                    </div>
                                    <!-- </div> -->
                                </div>
                            </div>

                            <!-- Data Vlan  -->
                            <div class="col-12">
                                <div class="input-wrapper">
                                    <!-- <div class="field col-12"> -->
                                    <label class="" htmlFor="devicename">Data Vlan</label>
                                    <div class="flex">

                                        <select class="" type="text" style="width: 35%;">
                                            <option>Equals</option>
                                        </select>
                                        <select class="ml-2" type="text" style="width: 35%;">
                                            <option>Select</option>
                                        </select>

                                    </div>
                                    <!-- </div> -->
                                </div>
                            </div>

                            <!-- Status  -->
                            <div class="col-12">
                                <div class="input-wrapper">
                                    <!-- <div class="field col-12"> -->
                                    <label class="" htmlFor="devicename">Status</label>
                                    <div class="flex">

                                        <select class="" type="text" style="width: 35%;">
                                            <option>Equals</option>
                                        </select>
                                        <select class="ml-2" type="text" style="width: 35%;">
                                            <option>Select</option>
                                        </select>

                                    </div>
                                    <!-- </div> -->
                                </div>
                            </div>

                            <!-- Config Status  -->
                            <div class="col-12">
                                <div class="input-wrapper">
                                    <!-- <div class="field col-12"> -->
                                    <label class="" htmlFor="devicename">Config Status</label>
                                    <div class="flex">

                                        <select class="" type="text" style="width: 35%;">
                                            <option>Equals</option>
                                        </select>
                                        <select class="ml-2" type="text" style="width: 35%;">
                                            <option>Select</option>
                                        </select>

                                    </div>
                                    <!-- </div> -->
                                </div>
                            </div>

                            <!-- Service Template -->
                            <div class="col-12">
                                <div class="input-wrapper">
                                    <!-- <div class="field col-12"> -->
                                    <label class="" htmlFor="devicename">Service Template</label>
                                    <div class="flex">

                                        <select class="" type="text" style="width: 35%;">
                                            <option>Equals</option>
                                        </select>
                                        <select class="ml-2" type="text" style="width: 35%;">
                                            <option>Select</option>
                                        </select>

                                    </div>
                                    <!-- </div> -->
                                </div>
                            </div>

                            <!-- Template Status  -->
                            <div class="col-12">
                                <div class="input-wrapper">
                                    <!-- <div class="field col-12"> -->
                                    <label class="" htmlFor="devicename">Template Status</label>
                                    <div class="flex">

                                        <select class="" type="text" style="width: 35%;">
                                            <option>Equals</option>
                                        </select>
                                        <select class="ml-2" type="text" style="width: 35%;">
                                            <option>Select</option>
                                        </select>

                                    </div>
                                    <!-- </div> -->
                                </div>
                            </div>



                            <!-- Interface Configuration  -->
                            <div class="col-12">
                                <div class="input-wrapper">
                                    <!-- <div class="field col-12"> -->
                                    <label class="" htmlFor="devicename">Interface Configuration</label>
                                    <div class="flex">

                                        <select class="" type="text" style="width: 35%;">
                                            <option>Equals</option>
                                        </select>
                                        <div class="inputText ml-2" style="width: 100%;"><input type="text" pInputText>
                                        </div>

                                    </div>
                                    <!-- </div> -->
                                </div>
                            </div>


                            <div class="col-12">

                                <p-toolbar>


                                    <div class="p-toolbar-group-right">
                                        <p-button label="Search" icon="pi pi-search" styleClass=" p-button-text"
                                            class="mr-2"></p-button>
                                        <p-button label="Close" icon="pi pi-times"
                                            styleClass="p-button-danger p-button-text" (onClick)="closeSearchSTable()">
                                        </p-button>
                                    </div>
                                </p-toolbar>
                            </div>


                        </div>

                    </p-card>
                </p-tabPanel>

            </p-tabView>
        </p-dialog>
    </div>

</div>