<p-card>
  <div class="basicInfoContainer col-12">
    <h2 class="flex" style="justify-content: center;padding: 3px;
    margin-bottom: 10px;border-bottom: 1px solid #eef3f7;border-top: 1px solid #eef3f7;">Device Details: 26</h2>
    <div class="bTitle flex" style="
    background-color: #f8f9fa;
">

      <div #bInfoTitle class="">
        <h4>Basic Info</h4>
      </div>

      <div #bInfoBtn class="bInfoTitleBtn ">
        <button pButton pRipple type="button" icon="pi pi-exclamation-triangle"
          label="This device has some notes/caveats. Please click here for details."
          class="p-button-outlined p-button-warning"></button>
      </div>

    </div>

    <div class="grid basicInfoSection" style="margin-top: 10px;">
      <div class="bInfoSectionA"style="
      width: 50%;
  ">

        <div class="basinInfoFields">
          <div class="bInfoFields">
            <h6>Device Name:</h6>
          </div>
          <div class="bInfoFields">
            <label for="">26</label>
          </div>
        </div>

        <div class="basinInfoFields">
          <div class="bInfoFields">
            <h6>Location:</h6>
          </div>
          <div class="bInfoFields">
            <label for="">All Location</label>
          </div>
        </div>

        <div class="basinInfoFields">
          <div class="bInfoFields">
            <h6>Hardware Model:</h6>
          </div>
          <div class="bInfoFields">
            <label for="">WS-C2960X-24PD-L</label>
          </div>
        </div>

        <div class="basinInfoFields">
          <div class="bInfoFields">
            <h6>Memory Utilization:</h6>
          </div>
          <div class="bInfoFields">
            <label for="">14%</label>
          </div>
        </div>

        <div class="basinInfoFields">
          <div class="bInfoFields">
            <h6>Last Collection:</h6>
          </div>
          <div class="bInfoFields">
            <label for="">11 May 2022. 03.12.11 AM PDT AM</label>
          </div>
        </div>

        <div class="basinInfoFields">
          <div class="bInfoFields">
            <h6>End Of SW Maintainance:</h6>
          </div>
          <div class="bInfoFields">
            <label for="">..</label>
          </div>
        </div>

      </div>
      <div class="bInfoSectionB">

        <div class="basinInfoFields">
          <div class="bInfoFields">
            <h6>IP/Hostname:</h6>
          </div>
          <div class="bInfoFields">
            <label for="">10.254.4.26</label>
          </div>
        </div>

        <div class="basinInfoFields">
          <div class="bInfoFields">
            <h6>Device Type:</h6>
          </div>
          <div class="bInfoFields">
            <label for="">Wired</label>
          </div>
        </div>

        <div class="basinInfoFields">
          <div class="bInfoFields">
            <h6>Ports:</h6>
          </div>
          <div class="bInfoFields">
            <label for="">27</label>
          </div>
        </div>

        <div class="basinInfoFields">
          <div class="bInfoFields">
            <h6>Compatibility Guide:</h6>
          </div>
          <div class="bInfoFields">
            <label for="">ISE_2_6_22_Jul_2019_Doc_v4</label>
          </div>
        </div>

        <div class="basinInfoFields">
          <div class="bInfoFields">
            <h6>Eol. Announcement:</h6>
          </div>
          <div class="bInfoFields">
            <label for="">..</label>
          </div>
        </div>



      </div>



<!-- 
      <div class="basinInfoFields">
        <div class="bInfoFields">
          <h6>Device Name:</h6>
        </div>
        <div class="bInfoFields">
          <label for="">26</label>
        </div>
      </div>

      <div class="basinInfoFields">
        <div class="bInfoFields">
          <h6>IP/Hostname:</h6>
        </div>
        <div class="bInfoFields">
          <label for="">10.254.4.26</label>
        </div>
      </div>

      <div class="basinInfoFields">
        <div class="bInfoFields">
          <h6>Location:</h6>
        </div>
        <div class="bInfoFields">
          <label for="">All Location</label>
        </div>
      </div>

      <div class="basinInfoFields">
        <div class="bInfoFields">
          <h6>Device Type:</h6>
        </div>
        <div class="bInfoFields">
          <label for="">Wired</label>
        </div>
      </div>

      <div class="basinInfoFields">
        <div class="bInfoFields">
          <h6>Hardware Model:</h6>
        </div>
        <div class="bInfoFields">
          <label for="">WS-C2960X-24PD-L</label>
        </div>
      </div>

      <div class="basinInfoFields">
        <div class="bInfoFields">
          <h6>Ports:</h6>
        </div>
        <div class="bInfoFields">
          <label for="">27</label>
        </div>
      </div>

      <div class="basinInfoFields">
        <div class="bInfoFields">
          <h6>Memory Utilization:</h6>
        </div>
        <div class="bInfoFields">
          <label for="">14%</label>
        </div>
      </div>

      <div class="basinInfoFields">
        <div class="bInfoFields">
          <h6>Compatibility Guide:</h6>
        </div>
        <div class="bInfoFields">
          <label for="">ISE_2_6_22_Jul_2019_Doc_v4</label>
        </div>
      </div>

      <div class="basinInfoFields">
        <div class="bInfoFields">
          <h6>Last Collection:</h6>
        </div>
        <div class="bInfoFields">
          <label for="">11 May 2022. 03.12.11 AM PDT AM</label>
        </div>
      </div>

      <div class="basinInfoFields">
        <div class="bInfoFields">
          <h6>Eol. Announcement:</h6>
        </div>
        <div class="bInfoFields">
          <label for="">..</label>
        </div>
      </div>

      <div class="basinInfoFields">
        <div class="bInfoFields">
          <h6>End Of SW Maintainance:</h6>
        </div>
        <div class="bInfoFields">
          <label for="">..</label>
        </div>
      </div> -->



    </div>

  </div>

  <div class="hwSupportContainer" style="
  margin-top: 25px;">

    <div class="bInfoTitle" style="background-color: #f8f9fa;">
      <h4>Hardware Support</h4>
    </div>

    <div class="modelDiv">
      <h6>Model:<label for="">WS-C2960X-24PD-L</label></h6>

    </div>
    <div class="flex hwSupportTable">
      <div class="hwSupportTableBox">
        <div class="hwHead">
          <h6>ISE Services</h6>
        </div>
        <div class="hwHeadVal">Readiness</div>
      </div>
      <div class="hwSupportTableBox">
        <div class="hwHead">
          <h6>AAA</h6>
        </div>
        <div class="hwHeadVal"><i class="pi pi-check" style="color:green;"></i></div>
      </div>
      <div class="hwSupportTableBox">
        <div class="hwHead">
          <h6>BYOD</h6>
        </div>
        <div class="hwHeadVal"><i class="pi pi-check" style="color:green;"></i></div>
      </div>
      <div class="hwSupportTableBox">
        <div class="hwHead">
          <h6>Guest (with Web Auth)</h6>
        </div>
        <div class="hwHeadVal"><i class="pi pi-check" style="color:green;"></i></div>
      </div>
      <div class="hwSupportTableBox">
        <div class="hwHead">
          <h6>Guest Originating URL</h6>
        </div>
        <div class="hwHeadVal"><i class="pi pi-check" style="color:green;"></i></div>
      </div>
      <div class="hwSupportTableBox">
        <div class="hwHead">
          <h6>MDM</h6>
        </div>
        <div class="hwHeadVal"><i class="pi pi-check" style="color:green;"></i></div>
      </div>
      <div class="hwSupportTableBox">
        <div class="hwHead">
          <h6>Posture</h6>
        </div>
        <div class="hwHeadVal"><i class="pi pi-check" style="color:green;"></i></div>
      </div>
      <div class="hwSupportTableBox">
        <div class="hwHead">
          <h6>Profiling</h6>
        </div>
        <div class="hwHeadVal"><i class="pi pi-check" style="color:green;"></i></div>
      </div>
      <div class="hwSupportTableBox">
        <div class="hwHead">
          <h6>TrustSec</h6>
        </div>
        <div class="hwHeadVal"><i class="pi pi-check" style="color:green;"></i></div>
      </div>
    </div>
  </div>

  <div class="swSupportContainer" style="
  margin-top: 25px;">

    <div class="bInfoTitle" style="background-color: #f8f9fa;">
      <h4>Software Support</h4>
    </div>

    <div class="modelDiv">
      <h6>Current OS Version:<label for="">15.2(4)E6</label></h6>

    </div>
    <div class="flex swSupportTable">
      <div class="hwSupportTableBox">
        <div class="hwHead">
          <h6>Readiness</h6>
        </div>
        <div class="hwHeadVal">At Current OS:15.2(4)E6</div>
        <div class="hwHeadVal">At Minimum OS:15.0.2A-Ex5</div>

      </div>
      <div class="swSupportTableBox">
        <div class="hwHead">
          <h6>AAA</h6>
        </div>
        <div class="hwHeadVal"><i class="pi pi-check" style="color:green;"></i></div>
        <div class="hwHeadVal"><i class="pi pi-check" style="color:green;"></i></div>

      </div>
      <div class="swSupportTableBox">
        <div class="swHead">
          <h6>BYOD</h6>
        </div>
        <div class="swHeadVal"><i class="pi pi-check" style="color:green;"></i></div>
        <div class="hwHeadVal"><i class="pi pi-check" style="color:green;"></i></div>

      </div>
      <div class="swSupportTableBox">
        <div class="swHead">
          <h6>Guest (with Web Auth)</h6>
        </div>
        <div class="swHeadVal"><i class="pi pi-check" style="color:green;"></i></div>
        <div class="hwHeadVal"><i class="pi pi-check" style="color:green;"></i></div>

      </div>
      <div class="swSupportTableBox">
        <div class="swHead">
          <h6>Guest Originating URL</h6>
        </div>
        <div class="swHeadVal"><i class="pi pi-check" style="color:green;"></i></div>
        <div class="hwHeadVal"><i class="pi pi-check" style="color:green;"></i></div>

      </div>
      <div class="swSupportTableBox">
        <div class="swHead">
          <h6>MDM</h6>
        </div>
        <div class="swHeadVal"><i class="pi pi-check" style="color:green;"></i></div>
        <div class="hwHeadVal"><i class="pi pi-check" style="color:green;"></i></div>

      </div>
      <div class="swSupportTableBox">
        <div class="swHead">
          <h6>Posture</h6>
        </div>
        <div class="swHeadVal"><i class="pi pi-check" style="color:green;"></i></div>
        <div class="hwHeadVal"><i class="pi pi-check" style="color:green;"></i></div>

      </div>
      <div class="swSupportTableBox">
        <div class="swHead">
          <h6>Profiling</h6>
        </div>
        <div class="swHeadVal"><i class="pi pi-check" style="color:green;"></i></div>
        <div class="hwHeadVal"><i class="pi pi-check" style="color:green;"></i></div>

      </div>
      <div class="swSupportTableBox">
        <div class="swHead">
          <h6>TrustSec</h6>
        </div>
        <div class="swHeadVal"><i class="pi pi-check" style="color:green;"></i></div>
        <div class="hwHeadVal"><i class="pi pi-check" style="color:green;"></i></div>

      </div>
    </div>
  </div><br>

  <div class="swSupportContainer">
    <label for="">Recommended OS Version: <label for="">15.2(4)E6</label></label><br>

    <p-accordion>
      <p-accordionTab header="ACL Details">
        <div class="aclDetailsField">ACL-AGENT-REDIRECT</div>
        <div class="aclDetailsField">ACL-ALLOW</div>
        <div class="aclDetailsField">ACL-DEFAULT</div>
        <div class="aclDetailsField">ACL-POSTURE-DEFAULT</div>
        <div class="aclDetailsField">ACL-POSTURE-REDIRECT</div>
        <div class="aclDetailsField">Auth-Default-ACL-OPEN</div>
        <div class="aclDetailsField">DEFAULT</div>
        <div class="aclDetailsField">IST</div>
        <div class="aclDetailsField">LOGNGGG</div>
        <div class="aclDetailsField">Pre_Auth_Acl</div>
        <div class="aclDetailsField">preauth_ipv4_acl (per-user)</div>
        <div class="aclDetailsField">zACSACLx.IP-PERMIT_ALL_TRAFFIC-544f05ed (per-user)</div>
        <div class="aclDetailsField"></div>
      </p-accordionTab>
    </p-accordion><br>

    <p-accordion>
      <p-accordionTab header="Radius Serve">
        <div class="radServeField">ACL-AGENT-REDIRECT</div>
      </p-accordionTab>
    </p-accordion><br>

    <p-accordion>
      <p-accordionTab header="TCAM Usage">
        <div class="tcamUsageField">Mask 5% Entries 5%</div>
      </p-accordionTab>
    </p-accordion><br>

    <p-accordion>
      <p-accordionTab header="CPU Utilization">
        <div class="cpuUtilField">show processes cpu history</div><br>
        <div class="cpuUtilField">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 434444443333333333333333434333334439</div>
        <div class="cpuUtilField">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 195106333333333333333333434333334439</div>
        <div class="cpuUtilField">100 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="cpuUtilField">90 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="cpuUtilField">80 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="cpuUtilField">70 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="cpuUtilField">60 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="cpuUtilField">50 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="cpuUtilField">40 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="cpuUtilField">30 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="cpuUtilField">20 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="cpuUtilField">10 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>




      </p-accordionTab>
    </p-accordion>
  </div>

</p-card>