<p-table #ct styleClass="p-datatable-gridlines p-datatable-striped" [value]="multipleDevice" [rows]="10"
  [globalFilterFields]="['name']" [rowHover]="true" [paginator]="true" [showCurrentPageReport]="true" dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

  <ng-template pTemplate="body" let-entity>
    <tr>
      <td>
        <p-tableCheckbox [value]="entity"></p-tableCheckbox>
      </td>
      <td>
        <div class="devSearchItemValue">{{entity.multipleDevName}}</div>
        <div class="devSearchItemValue">Mode: <a>{{entity.multipleDevMode}}</a>
        </div>
        <div class="devSearchItemValue">Status :
          <a>{{entity.multipleDevStatus}}</a>
        </div>
        <div class="devSearchItemValue">Data/Voice Vlan :
          <a>{{entity.multipleDVlan}}</a>
        </div>


      </td>
      <td>
        <div class="devSearchItemValue">Description: <a>{{entity.multipleDevDesc}}</a>
        </div>
        <div class="devSearchItemValue">Endpoints (Vlan): <a>{{entity.multipleDevEndPoint}}</a></div>
        <div class="devSearchItemValue">CDP Platform: <a>{{entity.multiplecdpPlatform}}</a></div>
        <div class="devSearchItemValue">LLDP Sys Description: <a>{{entity.multipleLldp}}</a></div>
      </td>

      <td>
        <div class="devSearchItemValue">Config Status: <a>{{entity.multipleConfigStatus}}</a>
        </div>

        <div class="devSearchItemValue">Location:
          <a>{{entity.multipleServiceTemplate}}</a>
        </div>

      </td>

      <!-- <td>
        <button pButton pRipple icon="pi pi-pencil" class="p-button-text p-button-success mr-2"
          (click)="navigateEditCustomer(entity)"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-text p-button-danger"></button>
      </td> -->

    </tr>
  </ng-template>

</p-table>
