<div class="grid p-fluid">
    <div class="col-3">
        <p-card>
            <div class="p-card-content" style="height: 100vh;">
                <div class="flex leftSidePortCol">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText placeholder="Search" />
                    </span>
                    <span>
                        <i class="pi pi-book m-2" style="cursor: pointer;" (click)="openNewProfile()"></i>
                    </span>
                </div>

                <p-table #ct styleClass="p-datatable-gridlines p-datatable-striped" [value]="dpDevicelist" [rows]="5"
                    [globalFilterFields]="['name']" [rowHover]="true" [paginator]="true" [showCurrentPageReport]="true"
                    dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    paginatorPosition="top">

                    <ng-template pTemplate="body" let-entity>
                        <tr>

                            <td>
                                <div class="field">
                                    <div class="" style="font-weight:bold;"><i class="pi pi-book"
                                            style="cursor: pointer;" (click)="openNdp()"></i> {{entity.dName}}</div>
                                </div>
                            </td>

                        </tr>
                    </ng-template>

                </p-table>

            </div>

        </p-card>

    </div>

    <div class="col-9">

        <!-- New Profile Settings Page  -->

        <ng-template [ngIf]="!isNewDeviceProfileScreen" [ngIfElse]="show">
            <p-card>
                <ng-template pTemplate="header">
                    <p-toolbar class="p-card-header-toolbar">
                        <div class="p-toolbar-group-left p-card-title">
                            <i class="pi pi-book p-2"></i>New Profile Settings
                        </div>
                    </p-toolbar>

                    <button pButton pRipple type="button" label="Instructions"
                        class="p-button-rounded p-button-help m-4" style="width: 10%;"
                        (click)="openInstructions()"></button>

                    <div class="newDeviceProfile ml-4" style="width: 40%;">
                        <div class="flex m-1">
                            <label for="" class="required-field" style="width: 500px;">Profile Name:</label>
                            <input type="text" pInputText>
                        </div>
                        <div class="flex m-1">
                            <label for="" class="required-field" style="width: 500px;">Default Waiting
                                Conditions:</label>
                            <input type="text" pInputText>
                        </div>
                        <div class="flex m-1">
                            <label for="" style="width: 500px;">Enable Command:</label>
                            <input type="text" pInputText>
                        </div>
                        <div class="flex m-1">
                            <label for="" style="width: 500px;">Running Configuration Command:</label>
                            <input type="text" pInputText>
                        </div>
                        <div class="flex m-1">
                            <label for="" style="width: 500px;">Terminal Lengt Command:</label>
                            <input type="text" pInputText>
                        </div>
                        <div class="flex m-1">
                            <label for="" style="width: 500px;">Profile Name:</label>
                            <input type="text" pInputText>
                        </div>
                        <div class="flex m-1">
                            <label for="" style="width: 500px;">Configuration Terminal Command:</label>
                            <input type="text" pInputText>
                        </div>
                        <div class="flex m-1 justify-content-end">
                            <button pButton type="button" label="Save" class="m-1" style="width: 15%;"></button>
                            <button pButton type="button" label="Cancel" class="m-1" style="width: 15%;"></button>
                        </div>
                    </div>

                </ng-template>
            </p-card>
        </ng-template>

     <!-- Network Device Profile Description Page  -->
      <ng-template #show>
            <app-ndf-description></app-ndf-description>
        </ng-template>


        <!-- <ng-template [ngIf]="isNewDeviceProfileScreen2">
            <app-ndf-description></app-ndf-description>
        </ng-template> -->




    </div>

</div>